<div class="five_sixths shift_one">
	<h1>MatchThatMakeup</h1>



<%= form_tag products_path, :method => 'get' do %>
	<div class="one_third">
		<%= text_field_tag :q %>
	</div>
	<%= submit_tag "Go", :name => nil %>
<% end %>

</div>