/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bourbon";
@import "neat";

body  {
	background-color: #eceef1;
}

div.container {
	@include outer-container;
	background-color: white;
}

div.row {
	@include span-columns(12);
}

div.one_third {
	@include span-columns(4);
}

div.one_fourth {
	@include span-columns(3);
}

div.five_sixths {
	@include span-columns(10);
}

div.shift_one {
	@include shift(1);
}

div.shift_two {
	@include shift(2);
}

div.shift_three {
	@include shift(3);
}

div.shift_four {
	@include shift(4);
}

div.updateform {
	@include shift(1);
	@include span-columns(10);
}

