/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree ./boilerplate
 *= require_self
 *= require_tree .
 */
@import "bourbon";
@import "neat";

div.container {
	@include outer-container;
}

div.row {
	@include span-columns(12);
}

div.one_third {
	@include span-columns(4);
}

div.one_fourth {
	@include span-columns(3);
}

div.three_fourths {
	@include span-columns(9);
}

div.five_sixths {
	@include span-columns(10);
}

div.shift_one {
	@include shift(1);
}

div.shift_two {
	@include shift(2);
}

div.shift_three {
	@include shift(3);
}

div.shift_four {
	@include shift(4);
}

form {
	margin: 20px;
	width: 200%;
}

.field {
	width: 50%;
}

textarea {
	height: 80px;
}

// Headers

h3 {
	font-size: 2em;
	font-weight: normal;
	font-family: "futura-pt", sans-serif;
	text-transform: uppercase;
	text-align: center;
	clear: both;
	line-height: 1.1em;
	margin: 0 0 0 10px;
}

div.updateform {
	@include shift(1);
	@include span-columns(10);
}

// Navigation

.navigation {
	background-color: #333;
	color: white;
	text-transform: uppercase;
	width: 100%;
}

.nav-inner {
	width: 60%;
	margin: 0 auto;
}

.navigation a {
	color: white;
}

.navigation a:hover {
	color: white;
	text-decoration: none;
}
