// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search {
	background-color: #FFF;
	padding: 11px 0;
	form {
		margin:20px;
	}
}

.master {
	position: absolute;
	width: 865px;
	height: 85%;
	overflow: scroll;
	background-color: #fff;
}

.detail {
	position: absolute;
	height: 85%;
	left: 850px;
	overflow: scroll;
	background-color: #fafafa;
	color: #000;
	font-family: 'futura-pt', sans-serif;
	h3 {
		padding-top: 10px;
		clear: both;
		text-align:left;
		margin: 0;
	}
	h4 {
		margin-top:3px;
		font-weight:400;
		font-size: 1.3em;
	}
	h5 {
		color: #ff2279;
		font-size: 2em;
		margin-top: 0px;
	}
	.brand {
		font-weight: bold;
	}
	.description {
		width: 50%;
		float: right;
		padding: 10px 20px;
		p {
			color: #888;
			margin-top: 10px;
			font-size: 1.1em;
			line-height: 1.4em;
		}
		h3 {
			clear: none;
		}
	}
	img {
		width: 100%;
	}
	ul.matches {
		color: black;
		margin: 0 10px 25px 10px;
		li.match {
			width: 125px;
			background-color: white;
			box-shadow:0px 0px 10px 0px #EEE;
			margin-right: 25px;
			list-style: none;
			text-align: center;
			h5 {
				color: #6a6a6a;
				font-size: .8em;
				text-transform: uppercase;
			}
		}
	}
}

.buy {
	text-transform: uppercase;
	background-color: #DA4A37;
	color: white;
	font-weight: 700;
	cursor: pointer;
	text-align: center;
	padding: 20px;
	a {
		color: white;
		text-decoration: none;
	}
}

ul.products {
	margin: 0;
	padding: 0;
	padding-left: 10px;
	margin-top: 10px;
	li {
		background-color: #FFF;
		list-style-type: none;
		margin-right: 10px;
		margin-bottom: 10px;
		padding: 10px;
		width: 270px;
		float: left;
		overflow: hidden;
		&:hover {
			cursor: pointer;
		}
		&.active {
			opacity:0.31;
			cursor:default;
		}
		img {
			display: block;
		}
		p {
			text-transform: uppercase;
			font-family: "futura-pt",sans-serif;
			margin:0;
			white-space: nowrap;
			.brand {
				font-weight: bold;
				font-size: 1.5em;
			}
		}
	}
}

.row.product {
	margin-top: 5px;
	.category-name {
		font-family: 'futura-pt', sans-serif;
		text-transform: uppercase;
 		margin-bottom:17px;
	}
	.btn {
		margin-bottom: 5px;
	}
	&.header {
		font-size:1.0em;
		font-family:'proxima-nova', sans-serif;
		text-transform: uppercase;
	}
}

div.product-image {
	width: 50%;
	padding:10px;
}



@media all and (max-width: 1300px) {
	.master {
		width: 585px;
	}
	.detail {
		left: 570px;
	}
}

@media all and (max-width: 1000px) {
	.detail {
		.description {
			width: 100%;
		}
		img {
			width: 100%;
			margin-top: 0;
		}
	}
}

@media all and (max-width: 800px) {
	.master {
		width: 445px;
	}
	.detail {
		left: 430px;
	}
	ul {
		li {
			width:200px;
			img {
				width:180px;
			}
		}
	}
}

@media all and (max-width: 650px) {
	.master {
		width: 100%;
		overflow: visible;
		font-size: .7em;
	}
	.detail {
		display: none;
	}
	ul {
		li {
			width:145px;
			img {
				width:125px;
			}
		}
	}
}

@media all and (max-width: 320px) {
	.search {
		height: 50px;
		padding: 5px;
		input {
			width: 250px;
		}
		.btn {
			display: none;
		}
	}
	.master {
		width: 320px;
		/*height: 370px;*/
		overflow: visible;
	}
	.detail {
		display: none;
	}
	ul {
		li {
			width:145px;
			img {
				width:125px;
			}
		}
	}
}