// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #EDEDED;
}

.search {
	background-color: #FFF;
	padding: 15px 0;
}

ul {
	margin: 0;
	margin-top: 10px;
	li {
		background-color: #FFF;
		list-style-type: none;
		margin-right: 10px;
		margin-bottom: 10px;
		padding: 10px;
		width: 270px;
		float: left;
		img {
			display: block;
		}
		p {
			text-transform: uppercase;
			font-family: "futura-pt",sans-serif;
			margin:0;
			.brand {
				font-weight: bold;
				font-size: 1.5em;
			}
		}
	}
}