// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search {
	background-color: #FFF;
	padding: 15px 0;
}

.master {
	position: absolute;
	width: 850px;
	height: 85%;
	overflow: scroll;
}

.detail {
	position: absolute;
	height: 85%;
	left: 850px;
	overflow: scroll;
	background-color: #333; /* #FAFAFA; */
	color: white;
	h3 {
		padding-top: 10px;
		clear: both;
	}
	.brand {
		font-weight: bold;
	}
	.description {
		width: 60%;
		float: right;
		padding: 10px 20px;
		p {
			margin-top: 10px;
		}
		h3 {
			clear: none;
		}
	}
	img {
		width: 40%;
		float: right;
		padding: 10px;
	}
	table {
		color: black;
		margin: 0 10px 25px 10px;
		tr {
			background-color: white;
			border-top: 10px solid #333;
			td {
				width: 20%;
				position: relative;
				text-align: left;
				font-family: 'futura-pt', sans-serif;
				font-size: 1.5em;
				&:nth-child(1) {
					width:20%;
				}
				/*&:nth-child(2) {
					width: 30%;
				}
				&:nth-child(3) {
					width: 22%;
				}
				&:nth-child(4) {
					width: 22%;
				}
				&:nth-child(5) {
					width: 25%;
				}*/
				img {
					margin-top: 0;
					padding: 0;
					float: left;
					width: 55%;
				}
			}
		}
	}
}

ul {
	margin: 0;
	padding: 0;
	padding-left: 10px;
	margin-top: 10px;
	li {
		background-color: #FFF;
		list-style-type: none;
		margin-right: 10px;
		margin-bottom: 10px;
		padding: 10px;
		width: 270px;
		float: left;
		overflow: hidden;
		&:hover {
			cursor: pointer;
		}
		img {
			display: block;
		}
		p {
			text-transform: uppercase;
			font-family: "futura-pt",sans-serif;
			margin:0;
			white-space: nowrap;
			.brand {
				font-weight: bold;
				font-size: 1.5em;
			}
		}
	}
}

@media all and (max-width: 1300px) {
	.master {
		width: 570px;
	}
	.detail {
		left: 570px;
	}
}

@media all and (max-width: 1000px) {
	.detail {
		.description {
			width: 100%;
		}
		img {
			width: 100%;
			margin-top: 0;
		}
	}
}

@media all and (max-width: 800px) {
	.master {
		width: 430px;
	}
	.detail {
		left: 430px;
	}
	ul {
		li {
			width:200px;
			img {
				width:180px;
			}
		}
	}
}

@media all and (max-width: 650px) {
	.master {
		width: 100%;
		overflow: visible;
		font-size: .7em;
	}
	.detail {
		display: none;
	}
	ul {
		li {
			width:145px;
			img {
				width:125px;
			}
		}
	}
}

@media all and (max-width: 320px) {
	.search {
		height: 50px;
		padding: 5px;
		input {
			width: 250px;
		}
		.btn {
			display: none;
		}
	}
	.master {
		width: 320px;
		/*height: 370px;*/
		overflow: visible;
	}
	.detail {
		display: none;
	}
	ul {
		li {
			width:145px;
			img {
				width:125px;
			}
		}
	}
}