<div class="footer">
	<div class="container">
		<div class="one_fourth">
			<h2>Navigate</h2>
			<a href="#">Home</a><br>
			<a href="#">About</a><br>
			<a href="#">Contact</a>
		</div>
		<div class="one_fourth">
			<h2>Shopping</h2>
			<a href="#">Register</a><br>
			<a href="#">Account</a><br>
			<a href="#">Shopping Bag</a>
		</div>
		<div class="one_fourth">
			<h2>Social</h2>
			<a href="#">Facebook</a><br>
			<a href="#">Twitter</a><br>
			<a href="#">Tumblr</a>
		</div>
		<div class="one_fourth">
			<h2>Info</h2>
			<a href="#">Terms</a><br>
			<a href="#">Privacy</a><br>
			<a href="#">Other</a>
		</div>
	</div>
	<span class="copyright">
		<br>
		<% if !user_signed_in? %>
			<%= link_to image_tag('footer_kiss.png'), new_user_session_path %>
		<% else %>
			<%= image_tag 'footer_kiss.png' %>
		<% end %>
		<br>
		All rights reserved. © 2012 Match that Makeup</span>
</div>