<div class="navigation">
	<div class="nav-inner">
		<% if user_signed_in? %>
			<%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => 'btn btn-small btn-info right' %>
		<% end %>
	</div>
</div>